extends layout

block content
    .modal-dialog
        .modal-content
          // Modal Header
          .modal-header
            h4#myModalLabel.modal-title
              | Dodaj książkę
          // Modal Body
          .modal-body
            form(role='form' method='POST' action='/books/addBook')
              div.form-group
                label(for='title') Tytuł:
                input#title.form-control(type='text', placeholder='Tytuł książki' name='title' required)
              div.form-group
                label(for='author') Autor:
                input#author.form-control(type='text', placeholder='Autor książki' name='author' required)
              div.form-group
                label(for='pages') Liczba stron:
                input#pages.form-control(type='number', placeholder='Liczba stron' name='pages' required)
              div.form-group
                label(for='year') Rok wydania:
                input#year.form-control(type='number', placeholder='Rok wydania' name='year')
              center
                button.btn.btn-primary(type="submit") Dodaj   