extends layout

block content
   - var index=0;
    center
        h1= 'Spis wszystkich książek'
    table(class='table table-striped')
        thead
            tr
                th(scope="col")= '#'
                th(scope="col")= 'Tytuł'
                th(scope="col")= 'Autor'
                th(scope="col")= 'Liczba stron'
                th(scope="col")= 'Rok wydania'
                th(scope="col")= 'Edytuj'
        tbody
            each book in books
                tr
                    th(scope="row")= ++index
                    td=book.title
                    td=book.author 
                    td=book.pages
                    td=book.year
                    td
                        a(class='btn btn-primary' href='/books/edit/'+book._id style={margin:'3px'}) Edytuj książkę

