extends layout


block content
    if userLoggedIn
      .modal-dialog
        .modal-content
          // Modal Header
          .modal-header
            h4#myModalLabel.modal-title
              | Zmień swoje hasło
          // Modal Body
          .modal-body
            form(role='form' method='POST' action='/users/changeUserPassword')
              div.form-group
                label(for='newPassword') Nowe hasło:
                input#newPassword.form-control(type='password', placeholder='Nowe Hasło' name='newPassword' required)
              div.form-group
                label(for='repeatNewPassword') Powtórz nowe hasło:
                input#repeatNewPassword.form-control(type='password', placeholder='Powtórz nowe hasło' name='repeatNewPassword' required)
              center                
                button.btn.btn-primary(type="submit") Zmień hasło
