extends layout

block content
  .modal-dialog
        .modal-content
          // Modal Header
          .modal-header
            h4#myModalLabel.modal-title
              | Usuń książki
          // Modal Body
          .modal-body
            form(role='form' method='POST' action='/books/deleteBooks'  enctype="application/x-www-form-urlencoded")
              input(type='hidden' name='_method' value='DELETE')
              div.form-group
                label(for='title') Tytuł:
                input#title.form-control(type='text', placeholder='Tytuł książki' name='title')
              div.form-group
                label(for='author') Autor:
                input#author.form-control(type='text', placeholder='Autor książki' name='author')
              div.form-group
                label(for='pages') Liczba stron:
                input#pages.form-control(type='number', placeholder='Liczba stron' name='pages')
              div.form-group
                label(for='year') Rok wydania:
                input#year.form-control(type='number', placeholder='Rok wydania' name='year')
              center
                button.btn.btn-primary(type="submit") Usuń