extends layout

block content
    .modal-dialog
        .modal-content
            .modal-header
                h4#myModalLabel.modal-title
                | Edytuj książkę
            .modal-body
                form(role='form' method='POST' action='/books/editBook'  enctype="application/x-www-form-urlencoded")
                    input(type='hidden' name='_method' value='PUT')
                    input#_id.form-control(type='hidden', name='_id' value=book._id)
                    div.form-group
                        label(for='title') Tytuł:
                        input#title.form-control(type='text', placeholder='Tytuł książki', name='title', value=book.title)
                    div.form-group
                        label(for='author') Autor:
                        input#author.form-control(type='text', placeholder='Autor książki' name='author' value=book.author)
                    div.form-group
                        label(for='pages') Liczba stron:
                        input#pages.form-control(type='number', placeholder='Liczba stron' name='pages' value=book.pages)
                    div.form-group
                        label(for='year') Rok wydania:
                        input#year.form-control(type='number', placeholder='Rok wydania' name='year' value=book.year)
                    center
                        button.btn.btn-primary(type="submit") Edytuj
