extends layout


block content
    if !userLoggedIn
      .modal-dialog
        .modal-content
          // Modal Header
          .modal-header
            h4#myModalLabel.modal-title
              | Zaloguj się
          // Modal Body
          .modal-body
            form(role='form' method='POST' action='/users/login')
              div.form-group
                label(for='login') Login:
                input#title.form-control(type='text', placeholder='Nazwa użytkownika' name='login' required)
              div.form-group
                label(for='password') Hasło:
                input#author.form-control(type='password', placeholder='Hasło' name='password' required)
              center                
                button.btn.btn-primary(type="submit") Zaloguj się
      center
        a(href='/users/register')= 'Nie masz jeszcze konta?'
