doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')
  body
    block nav
      if userLoggedIn
        nav(class='navbar navbar-expand-lg navbar-light bg-light')
          a(class='btn btn-primary' href='/'  style={margin:'3px'}) Strona główna          
          a(class='btn btn-primary' href='/books' style={margin:'3px'}) Wyświetl książki
          a(class='btn btn-primary' href='/books/add' style={margin:'3px'}) Dodaj książkę
          a(class='btn btn-primary' href='/books/delete' style={margin:'3px'}) Usuń książki
          a(class='btn btn-primary' href='/users/changePassword' style={margin:'3px'}) Zmień hasło
          a(class='btn btn-primary' href='/users/logout' style={margin:'3px'}) Wyloguj się  
        h5= 'Jestes zalogowany jako, '+user            
    block content
    block result
      if !hideResult
        if positiveResult
          center
              div(class="card text-white bg-success mb-3" style={ 'max-width': "18rem"})
                  center
                      div(class='card-body')
                          p(class='card-text')= message
        else
            center
                div(class="card text-white bg-danger mb-3" style={ 'max-width': "18rem"})
                    center
                        div(class='card-body')
                            p(class='card-text')= message
