extends layout 

block content
    .modal-dialog
        .modal-content
          // Modal Header
          .modal-header
            h4#myModalLabel.modal-title
              | Zarejestruj się
          // Modal Body
          .modal-body
            form(role='form' method='POST' action='/users/registerUser')
              div.form-group
                label(for='login') Login:
                input#login.form-control(type='text', placeholder='Podaj login' name='login' required)
              div.form-group
                label(for='email') Email:
                input#email.form-control(type='email', placeholder='Podaj email' name='email' required)
              div.form-group
                label(for='repeatEmail') Powtórz email:
                input#repeatEmail.form-control(type='email', placeholder='Powtórz email' name='repeatEmail' required)
              div.form-group
                label(for='telephone') Telefon:
                input#telephone.form-control(type='tel', placeholder='123-123-123' name='telephone' required)                            
              div.form-group
                label(for='password') Hasło:
                input#password.form-control(type='password', placeholder='Podaj hasło' name='password' required)
              div.form-group
                label(for='repeatPassword') Powtórz hasło:
                input#repeatPassword.form-control(type='password', placeholder='Powtórz hasło' name='repeatPassword' required)
              div.form-group
                label(for='activationForm') Forma aktywacji:
                select#activationForm.form-control
                    option Email
                    option SMS            
              center                
                button.btn.btn-primary(type="submit") Zarejestruj się